@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

:root {
    --ruleHorizontalSpacing: 0.25em;
}

body, input, button, a {
    background-color: #1b2631;
    color: #d1c4e9;
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
}

input {
    border: none;
    outline: none;
    width: 55vw;
    height: 1em;
    text-align: end;
    margin: 0;
    text-align: start;
    padding: 7px;
    /* background-color: orchid; */
}

button, label {
    font-size: 20px;
    border: none;
    background-color: #3949AB;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 0;
}
button:hover, label:hover {
    background-color: #5C6BC0;
    font-weight: bold;
    cursor: pointer;
}

#mainControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

#mainControls button, #mainControls label {
    background-color: #00ACC1;
    color: white;
}
#mainControls button:hover, #mainControls label:hover {
    background-color: #26C6DA;
}

#mainControls label {
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: flex;
    align-items: center;
}

#mainControls input {
    display: none;
}

#downloadLink {
    visibility: hidden;
    font-size: 20px;
    color: #00ACC1;
}
#downloadLink:hover {
    color: #26C6DA;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0;
    margin-bottom: 1em;
}

.statementContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -0.12em;
}

.statementContainer input:first-child {
    text-align: end;
    width: 12em;
}

.statementContainer .rightSide {
    display: flex;
    flex-direction: column;
}

.ruleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--ruleHorizontalSpacing);
    margin: -2px;
}
.ruleContainer p {
    margin: 0;
    margin-right: var(--ruleHorizontalSpacing);
}

.addRemoveRule {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.15em;
    margin-left: -5.5em;
}

.moveRuleUp, .moveRuleDown {
    background-color: rgb(100, 110, 150);
    color: rgb(210, 210, 210);
}
.moveRuleUp {
    margin-left: 0.75em;
    margin-right: -0.75em;
}
.moveRuleDown {
    margin-left: 1.25em;
}

.firstAddRemoveRule {
    margin: 0;
}

.addRemoveStatement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -27vw;
    margin-top: 0.3em;
}

.addRemoveStatement button {
    font-size: 25px;
    color: white;
    background-color: #1E88E5;
}
.addRemoveStatement button:hover {
    background-color: #42A5F5;
}